.mainheader {padding:50px 0 50px 0; background-color:#9ebdac; color:#f4f4f4; text-align:center; font-family: 'Noto Sans Display', sans-serif;}

h1 {font-family: 'Merriweather', serif;}

h3{font-family: 'Titillium Web', sans-serif;}

h4{font-family: 'Merriweather', serif;}

p{font-family: 'Titillium Web', sans-serif;}

.box1 {background-color:#ffffe9;}

.box2{background-color:#ffffe9;}

.box3 {background-color:#ffffe9; img: url(../images/parasite.jpg)}

.grassbox {background-image: url(../images/grassBackground.jpg) opacity: 1;background-attachment:fixed; background-color:#ffffe9;}

.box5 {background-color:#ffffe9;}

.box6 {background-color:#ffffe9; background-image: url(..images/info.jpg) 

.pullquoteright{

  width: 150px;
  margin: 0 0 3px 15px;


}








  



















